h1, h2, h3, h4, h5, h6, .ui {
  font-family: "Lato", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", "Droid Sans Fallback", sans-serif !important;
}

.ui.main.container {
  padding-top: 80px;
}

.ui.header.item {
  font-weight: 700 !important;
}

#navbar {
  background-color: #0EB0C9;
  color: #FFF;
  z-index: 2048;
}

#index, #tagspage, #page, #error {
  display: none;
}

.blockquote.segment {
  border: none;
  border-left: 4px solid #2185D0 !important;
  background-color: #DFF0FF;
  border-radius: 0;
}

pre {
  padding: 0.5em 0.75em;
  border-radius: 4px;
  font-family: Consolas, "Fira Code", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", monospace;
}
pre > code {
  padding: 0;
  color: inherit;
}
code {
  padding: 0 0.25em;
  color: #00809C;
  font-family: Consolas, "Fira Code", "Noto Sans CJK SC", "Source Han Sans SC", "PingFang SC", "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", monospace;
}

iframe {
  min-height: 512px;
  width: 100%;
  background: #fff;
  padding: 0;
  border: none;
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

img {
  max-width: 100%;
}

.anchor {
  position: relative;
  display: block;
  top: -60px;
}

#main {
  transition: all 1s ease 0.5s;
}

#index-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 480px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(14, 176, 201, 1) 60px, rgba(14, 176, 201, .95) 25%, rgba(14, 176, 201, .8) 50%, rgba(14, 176, 201, .5));
  margin-bottom: -200px;
  padding-top: 160px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

#index-title {
  padding: 24px;
  text-align: center;
  color: #FFF;
  font-size: 3.2em;
}

#index-motto-content {
  text-align: center;
  color: rgba(255, 255, 255, .8);
  font-size: 1.2em;
}

#index-container {
  margin-top: 414px;
}

.index-page-segment {
  margin-top: 24px !important;
}
.index-page-segment:first-child {
  margin-top: 0 !important;
}

.index-preview {
  border-top: 0 !important;
  border-bottom: 0 !important;
}

.index-preview-footer {
  padding-top: 0px !important;
  padding-bottom: 8px !important;
  padding-left: 8px !important;
  min-height: 36px;
}

.readmore {
  position: absolute !important;
  bottom: 0;
  right: 0;
  border-top-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  margin-right: -1px !important;
}

#profile-header {
  background-color: rgba(14, 176, 201, .6) !important;
  color: #FFF !important;
}

#index-tags {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.index-menu-tags {
  margin-right: 14px !important;
  padding: .5em .78em !important;
  margin-bottom: 14px !important;
}

#tagspage-header {
  position: absolute;
  top: 0;
  left: 0;
  height: 184px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(14, 176, 201, 1) 60px, rgba(14, 176, 201, .95) 50%, rgba(14, 176, 201, .8));
  margin-bottom: -200px;
  padding-top: 80px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

#tagspage-title {
  padding: 24px;
  text-align: center;
  color: #FFF;
  font-size: 2.4em;
}

#tagspage-container {
  margin-top: 120px;
}

#tagspage-tags {
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

#page-header {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(14, 176, 201, 1) 60px, rgba(14, 176, 201, .9) 25%, rgba(14, 176, 201, .6) 50%, rgba(14, 176, 201, 0));
  margin-bottom: -200px;
  padding-top: 150px;
  color: #FFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .15);
}

#page-title {
  text-align: center;
  color: #FFF;
  font-size: 2.4em;
}

#page-labels {
  text-align: center;
}

.ui.borderless.label {
  border: none !important;
  background-color: unset !important;
}

.page-header-tags::after {
  content: ", ";
}
.page-header-tags:last-child::after {
  content: "";
}
.page-header-tags {
  opacity: .8 !important;
}
.page-header-tags:hover {
  opacity: 1 !important;
}

#page-container {
  margin-top: 200px;
}

#page-content {
  min-height: 200px;
}

#page-menu-title {
  padding-left: 16px;
  color: rgba(0, 0, 0, .7);
}
#page-menu-percentage {
  color: rgba(255, 255, 255, .6);
  background-color: rgb(33, 133, 208, .8);
  height: 12px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  margin-top: -24px;
  justify-content: right;
  vertical-align: top;
  float: left;
  z-index: -1;
}
#page-menu-items {
  border-right: none !important;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: rgba(34, 36, 38, .15);
}
#page-menu-items .item {
  border-right: none !important;
  border-left-style: solid;
  border-left-color: transparent;
  margin: 0 0 0 -2px !important;
  border-left-width: 2px;
  color: rgba(0, 0, 0, .6);
}
#page-menu-items .item:hover {
  border-color: rgba(0, 0, 0, .87);
  color: rgba(0, 0, 0, .87);
}

#footer {
  margin-top: 48px;
  width: 100%;
  min-height: 60px;
  color: rgba(0, 0, 0, .3);
}
